body {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
h1{
    color: #3366CC;
}
#main-container{
    text-align: center;
    margin: 0 auto;
    width: 90%%;
}
#card-container{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin-top: 25px;
}
.book-card{
    height: 140px;
    width: 300px;
    padding: 25px;
    border: 5px solid #3366CC;    
    background-color: #3399FF;
    margin: 5px;
    line-height: 160%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#form-container{
    text-align: center;
    width: 100%;
    position: absolute;
    display: none;
    margin-top: 10px;
    justify-content: center;
}
#form-div{
    width: 260px;
    height: 390px;
    border: 5px solid #3366CC;    
    background-color: #3399FF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#form-close{
    width: 100;
    text-align: right;
    padding: 5px;
}
#x{
    cursor: pointer;
}
.book-delete{
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
}
input{
    margin-bottom: 30px;
}