body {
    font-family: 'Courier New', Courier, monospace;
}
#main-container{
    text-align: center;
    margin: 0 auto;
    width: 90%%;
}
#card-container{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin-top: 25px;
}
.book-card{
    height: 115px;
    width: 300px;
    padding: 25px;
    border: 5px solid gray;    
    background-color: lightgrey;
    margin: 5px;
    line-height: 160%;
}
#form-container{
    text-align: center;
    width: 100%;
    position: absolute;
    display: none;
    margin-top: 10px;
    justify-content: center;
}
#form-div{
    width: 260px;
    height: 345px;
    background-color: lightgray;
    border: 5px solid gray;    
    background-color: lightgrey;
}
#form-close{
    width: 100;
    text-align: right;
    padding: 5px;
}
#x{
    cursor: pointer;
}
.book-delete{
    cursor: pointer;
}
input{
    margin-bottom: 30px;
}